<ul id={{id}} class="folder">
    <input type="checkbox" />
    <a class="folder-link" href={{url}} title={{type}}>{{name}}</a>
{{#folders}}
    {{> subs}}
{{/folders}}

{{#files}}
    <li id={{id}}>
        <input type="checkbox" />
        <a class="item-link" href={{url}} title={{type}}>{{name}}</a>
    </li>
{{/files}}
</ul>
