<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/ui-lightness/jquery-ui-1.8.23.custom.css">
        <link rel="stylesheet" href="/static/css/xmms2.css">
        <script src="/static/js/vendor/modernizr-2.6.1.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        
        <h1> XMMS2 </h1>
        
        <div id="playback-info">
            <span id="server-status"></span>:
            <span id="current"></span>
        </div>
        
        <div id="progressbar"><span></span></div>
        <div id="volume"></div>
        
        <div>
            <a id="playback-prev" href="{% url xmms2-playback-previous %}" >Prev</a>
            <a id="playback-toggle" href="{% url xmms2-playback-toggle %}">
                {% if server.is_playing %}Pause
                {% else %}Play
                {% endif %}
            </a>
            <a id="playback-stop" href="{% url xmms2-playback-stop %}">Stop</a>
            <a id="playback-next" href="{% url xmms2-playback-next %}">Next</a>
        </div>
        
        <div>
            <a href="{% url xmms2-playlist-clear %}">Clear playlist</a>
        </div>

        <div id="playlist" class="datagrid">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Artista</th>
                        <th>Album</th>
                        <th>Titulo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in playlist %}
                    <tr id="playlist-item-{{item.id}}">
                        <td></td>
                        <td>
                            <a href="{% url xmms2-jumpto forloop.counter0 %}">Play</a>
                        </td>
                        <td>{{ item.artist }}</td>
                        <td>{{ item.album }}</td>
                        <td>{{ item.title }}</td>
                    <tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
        <script src="/static/js/vendor/jquery-ui-1.8.23.custom.min.js"></script>
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/main.js"></script>
        <script src="/static/js/xmms2.js"></script>
        
        <script type="text/javascript">
            {% autoescape off %}
            $(document).ready(xmms2_init({{ json }}));
            {% endautoescape %}
        </script>
    </body>
</html>