#lista
{
    width: 600px;
}

ul
{
    list-style-type: none;
    margin: 0px;
}

ul[data-expanded='true']:before
{
    content:'-'
}

ul[data-expanded='true']>input
{
    margin-left: 3px;
}

ul.folder:not([data-expanded='true']):before
{
    content:'+'
}

li, ul
{
    padding-left: 20px;
}

li
{
    margin-left: 13px;
}
